/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом 
сайте нужно, чтобы в HTML некоторые классы были названы особым 
образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 100px;
  justify-content: space-around; */
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color, rgba(255, 255, 255, 1));
  font-family: var(--main-font, sans-serif);
  font-size: var(--body-font-size, 18px);
  line-height: var(--line-height, 21px);
  color: var(--font-color, rgba(0, 0, 0, 1));
  font-variation-settings: 'wght' var(--font-weight-main, 400);
}

.header {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-block: 100px;
}

.content__card {
  display: grid;
  /* margin: 0 auto; */
  /* margin-inline: 0; */
  width: clamp(375px, var(--card-width, 100%), 700px);
  background-color: var(--bg-color, rgba(255, 255, 255, 1));
  border: 2px solid var(--border-color, rgba(0, 0, 0, 1));
}

.header__logo {
  text-transform: uppercase;
  font-family: var(--accent-font, serif);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  /* padding-block-start: clamp(120px, 122px, 127px); */
  padding-block-start: clamp(7.5rem, 7.346rem + 0.6573vw, 7.9375rem);
  /* padding-inline: clamp(14px, 60px, 120.5px); */
  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  margin: 0 auto;
  line-height: 100%;
}

.header__text {
  text-transform: uppercase;
  font-family: var(--accent-font, serif);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin: 0 auto;
  line-height: 100%;
  padding-block-start: 20px;
  padding-inline: clamp(5.03125rem, 2.9406rem + 8.9202vw, 10.96875rem);
  padding-block-end: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
}

.main {
  display: flex;
}

.content__title {
  display: inline-flex;
  font-variation-settings: 'wght' var(--font-weight-title, 700);
  font-size: inherit;
  line-height: 110%;
  padding-inline: 10px;
  padding-block-start: 3px;
  padding-block-end: clamp(0.34375rem, 0.3988rem + -0.2347vw, 0.1875rem);
  align-items: center;
  max-width: clamp(21.9375rem, 15.0933rem + 29.2019vw, 41.375rem);
}

.content__text {
  display: grid;
  gap: 27px;
  max-width: 646px;
  padding: 25px;
}

.content__image {
  
}