/* В этом файле будут храниться все значения переменных 
в исходном состоянии, а так же их изменения в зависимости 
от ширины устройства */
:root {
    --bg-color: rgba(255, 255, 255, 1);
    --bg-image: repeating-linear-gradient(#d3d3d3 0, #d3d3d3 4px, transparent 4px, transparent 8px),
        repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 4px, transparent 4px, transparent 8px),
        linear-gradient(#e7e7e7 0, #e7e7e7 0, 05%, #636363);
    --border-color: rgba(0, 0, 0, 1);
    --accent-color: rgba(0, 0, 0, 1);

    --font-color: rgba(0, 0, 0, 1);
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --body-font-size: 18px;
    --line-height: 21px;
    --font-weight-main: 400;
    --font-weight-title: 700;

    --card-width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
    --card-color: rgba(255, 255, 255, 1);

    --watermark-font-size: 14px;
    --watermark-shadow: 1px 0 rgba(255, 255, 255, 0.5),
        0 1px rgba(255, 255, 255, 0.5),
        -1px 0 rgba(255, 255, 255, 0.5),
        0 -1px rgba(255, 255, 255, 0.5);
    --watermark-stroke: 1px rgba(255, 255, 255, 0.5);

    --button-font-size: 14px;
    --button-text-color: rgba(255, 255, 255, 1);
    --button-color: rgba(255, 255, 255, 1);

    --heart-contour-color: rgba(0, 0, 0, 1);
    --heart-fill-color: rgba(255, 0, 0, 1);

    --dialog-font-size: 14px;
}