/* В этом файле будут храниться все значения переменных 
в исходном состоянии, а так же их изменения в зависимости 
от ширины устройства */
:root {
  --bg-color: rgba(255, 255, 255, 1);
  --border-color: rgba(0, 0, 0, 1);

  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P', serif;
  --font-weight-main: 400;
  --font-weight-title: 700;
  --body-font-size: 18px;
  --button-font-size: 14px;
  --watermark-font-size: 14px;
  --watermark-shadow-color: rgba(255, 255, 255, 0.5);
  --line-height: 21px;
  --font-color: rgba(0, 0, 0, 1);

  --card-width: 100%;

}